@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    html{
        overflow-x: hidden;
    }
    header{
        flex-direction: row;
    }

    main{
        flex-direction: row;
    }

    h2{
        text-align: left;
        font-size: 44px;
    }

    input{
        width: 70%;
    }

    form [type="submit"]{
        width: 50%;
    }

    img{
        display: inline-block;
        width: 400px;
    }

    p{
        text-align: left;
    }
    ul{
        text-align: center;
    }
}

@media screen and (min-width: 992px) {

    html{
        overflow: hidden;
    }
    header{
        flex-direction: row;
    }

    main{
        flex-direction: row;
    }

    h2{
        text-align: left;
        font-size: 48px;
    }

    input{
        width: 70%;
    }

    form [type="submit"]{
        width: 50%;
    }

    img{
        display: inline-block;
        size: 100px;
    }

    p{
        text-align: left;
    }
    ul{
        text-align: center;
    }
}